[Unit]
Before=suspend.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/usr/lib/suspend-autolock/lock-session lock

[Install]
WantedBy=suspend.target hybrid-sleep.target
