[Unit]
After=suspend-then-hibernate.target

[Service]
Type=oneshot
ExecStart=/usr/lib/suspend-autolock/lock-session suspend-then-hibernate unlock

[Install]
WantedBy=suspend-then-hibernate.target
