[Unit]
After=suspend-then-hibernate.target

[Service]
Type=oneshot
ExecStart=/usr/bin/lock-session suspend-then-hibernate unlock 

[Install]
WantedBy=suspend-then-hibernate.target
