[Unit]
Description=Direct Wayland login for user %i
After=systemd-user-sessions.service
Conflicts=getty@tty7.service xlogin@.service

[Service]
User=%i
WorkingDirectory=~
TTYPath=/dev/tty7
StandardError=journal
StandardOutput=journal
PAMName=login
EnvironmentFile=/usr/share/wayland/env
ExecStart=/usr/bin/bash -l .wsession
Restart=on-success

[Install]
WantedBy=graphical.target
